<h1> Sing In </h1>

<%= form_with url: sign_in_path do |form|%>
<div class="mb-3">
<%= form.label :name %>
<%= form.text_field :name, class: "form-control", placeholder: "layla"  %>
</div>
<div class="mb-3">
<%= form.label :Email %>
<%= form.text_field :email, class: "form-control", placeholder: "@gmail.com" %> 
</div>

<div class="mb-3">
<%= form.label :password %>
<%= form.password_field :password, class: "form-control", placeholder: "Password" %>
</div>
<div class="mb-3">
<%= form.submit "Sign In", class: "btn bnt-primary" %>
</div>
<% end  %>